/* ANIMATIONS */

@keyframes logo {
    0% {opacity: 0;}
    20% {opacity: 1;}
    25% {opacity: .7;}
    30% {opacity: 1;}
    35% {opacity: 1;}
    40% {opacity: 1;}
    45% {opacity: .7;}
    50% {opacity: 1;}
    55% {opacity: 1;}
    60% {opacity: 1;}
    65% {opacity: .7;}
    70% {opacity: 1;}
    75% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes door1 {
    0% {}
    50% {}
    100% {left: -50vw;}
}

@keyframes door2 {
    0% {}
    50% {}
    100% {right: -50vw;}
}

@keyframes ring {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes spinner1 {
    0% {opacity: 1;}
    20% {rotate: 365deg;}
    40% {rotate: 730deg;}
    60% {rotate: 1095deg;}
    80% {rotate: 1460deg;}
    99% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes spinner2 {
    0% {opacity: 1;}
    20% {rotate: 355deg;}
    40% {rotate: 710deg;}
    60% {rotate: 1065deg;}
    80% {rotate: 1420deg;}
    99% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes spinnerCover {
    0% {}
    100%{width:0vw; height:0vw; opacity: 0}
}

/* CSS */

.mainContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: beige;
    overflow-x: hidden;
}

.landingContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    background-color: aqua;
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 10;
}

.mainBackground {
    width: 100vw;
    height: auto;
    z-index: 0;
}

.logo {
    position: absolute;
    z-index: 5;
    width: 15vw;
    height: auto;
    animation-name: logo;
    animation-duration: 10s;
    animation-fill-mode: both;
}

.spinnerRing {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border: 8px solid black;
    border-radius: 100%;
    z-index: 3;
    animation-name: ring;
    animation-duration: 10s;
    animation-fill-mode: both;
}

.spinner1{
    position: absolute;
    width: 30vw;
    height: 1.5vw;
    background-color: white;
    rotate: 5deg;
    z-index: 4;
    animation-name: spinner1;
    animation-duration: 10s;
    animation-fill-mode: both;
}

.spinner2{
    position: absolute;
    width: 30vw;
    height: 1.5vw;
    background-color: white;
    rotate: -5deg;
    z-index: 4;
    animation-name: spinner2;
    animation-duration: 10s;
    animation-fill-mode: both;
}

.door1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50vw;
    height: 100%;
    z-index: 1;
    background-image: url(../src/assets/imgs/door1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: door1;
    animation-duration: 4s;
    animation-delay: 10s;
    animation-fill-mode: both;
}

.door2 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50vw;
    height: 100%;
    z-index: 1;
    background-image: url(../src/assets/imgs/door2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: door2;
    animation-duration: 4s;
    animation-delay: 10s;
    animation-fill-mode: both;
}

.spinnerCover {
    position: absolute;
    width: 32vw;
    height: 32vw;
    border-radius: 100%;
    z-index: 2;
    background-color: white;
    animation-name: spinnerCover;
    animation-duration: 4s;
    animation-delay: 10s;
    animation-fill-mode: both;
}

.test {
    position: absolute;
    right: 10%;
    font-size: 5vw;
    color: white;
    pointer-events: none;
    display: none;
}